* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-width: 320px;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

section {
    margin: 80px 0 80px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}

.container-vertical {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.center-hor {
    justify-content: center;
}

.red {
    color: red;
}

/* HEADER */


header {
    width: 100vw;
    height: 810px;
    background: url('../img/fon.png') no-repeat center;
    background-size: cover;
}

/* HEADER NAV START */

.menu-wrapper {
    display: flex;
    align-items: center;
}

/* MENU BTN START */

#menu-btn {
    display: none;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    display: none;
}

/* MENU BTN END */

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    padding-left: 15px;
    padding-right: 15px;
}

#nav-list {
    display: flex;
}

#nav-list li {
    padding-right: 33px;
}

#nav-list li:last-child {
    padding-right: 0;
}

nav li a {
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#nav-list li a:hover {
    color: #ffa509;
    transition: .2s;
}

.nav-link-active {
    color: #ffa509;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffa509;
}

/* HEADER NAV END */

header #car-image {
    margin-top: 80px;
    width: 570px;
}

header h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: Oranienbaum, serif;
    font-size: 146px;
    padding-top: 6px;
    letter-spacing: 18px;
}

.partner {
    color: #fff;
    font-size: 26px;
}

.links-to-store {
    display: flex;
    margin-top: 60px;
}

.links-to-store img:first-child {
    margin-right: 25px;
}

.links-to-store img:last-child {
    margin-left: 25px;
}

.phone-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.phone-block img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.phone-block a {
    font-size: 28px;
}

/* HEADER END */

/* BENEFITS START */
#benefits .container {
    justify-content: space-around;
    text-align: center;
}

.benefit {
    width: 300px;
}

.benefit i {
    font-size: 4em;
    color: #ffa509;
}

.benefit h3 {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 600;
}

.benefit p {
    margin-top: 20px;
}
/* BENEFITS END */

/* JOIN US START */
.varient {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.varient ul {
    text-align: left;
}

.varient ul li {
    list-style-type: disc;
    font-size: 1.2em;
    margin-top: 10px;
}

.varient a {
    padding: 10px 20px;
    background-color: #ffa509;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 30px;
}

.varient a:hover {
    background-color: #e69508;
    transition: .3s;
}
/* JOIN US END */

/* LICA START */
#lica h2 {
    text-align: center;
    font-size: 34px;
}

#lica .container {
    margin-top: 70px;
}

.lica-block {
    width: 50%;
}

.lica-block h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.lica-block ul li {
    list-style-type: disc;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.lica-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lica-img i {
    font-size: 200px;
    color: #ffa509;
}

#lica .container:nth-child(3) {
    justify-content: end;
}

/* START SECTION START */

.start {
    justify-content: space-between;
}

.container.start {
    align-items: start;
}

.start-work, .faq {
    margin: 60px 0 60px 0;
}

.start-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}


.start-item p.step {
    font-weight: bold;
    font-size: 26px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa509;
    border-radius: 50%;
    color: #333;
    transition: .6s;
}

.start-item:hover {
    cursor: pointer;
}

.start-item:hover p.step {
    transform: translateY(-12px);
    transition: .6s;
}

.start-item p.description {
    margin-top: 20px;
    width: 250px;
    text-align: center;
    font-size: 16px;
}

/* START SECTION END */

/* FAQ START */
.faq-item {
    width: 80%;
    margin: 0 auto;
}

.faq-item .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.faq-item .header:hover {
    cursor: pointer;
}

.faq-item .header p.icon {
    color: #ffa509;
    font-size: 18px;
}

.faq-item p.question {
    font-size: 18px;
    font-weight: bold;
}

.faq-item p.answer {
    line-height: 1.7;
    display: none;
}

.faq-item .separator {
    height: 1px;
    width: 100%;
    background-color: lightgrey;
    margin: 20px 0;
}

/* FAQ END */

/* FIZ-LICA END */

/* FOOTER START */
footer {
    background-color: #222;
    padding-top: 60px;
    margin-top: 0;
    padding-bottom: 60px;
}

footer .container {
    flex-direction: column;
}

footer h2 {
    color: #fff;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
}

.phone a {
    font-size: 1.5em;
    margin-left: 15px;
}

.socials {
    margin-left: -15px;
}

.socials a {
    font-size: 2.5em;
    margin-right: 12px;
}

.socials a:hover,
.phone a:hover,
.docs a:hover {
    color: #ffa509;
    transition: .35s;
}

.socials a:last-child {
    margin-right: 0;
}

.info {
    width: 220px;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}

.docs {
    text-align: center;
    margin-top: 20px;
}

.docs a {
    padding: 5px 0 5px 0;
}

.docs p:last-child {
    margin-top: 10px;
}

/* FOOTER END */



/*  OLD COLOR: #ef8524  */